{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/account.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
</head>
<body>
<header>
    <div class="top">
        <div class="logo">
            <img src="/static/main/img/logo.png" onclick="location.href='{% url 'index' %}'" width="300px" height="100px">
        </div>
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Tìm kiếm...">
            <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
        <div class="mini-menu">
            <div class="cart">
                <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
                <span id="num-cart-label">0</span>
            </div>
             {% if request.session.user_id %}
                <a href="{% url 'account' %}"><i class="fa-solid fa-user"></i></a>
            {% else %}
                <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="bottom">
        <a href="{% url 'index' %}">Trang chủ</a>
        <a href="{% url 'catalog' %}">Sản phẩm</a>
        <a href="{% url 'help' %}">Liên hệ</a>
        <a href="{% url 'aboutUs' %}">Giới thiệu</a>
    </div>
</header>

<div class="dashboard-container">

    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="{% url 'info' %}" class="sidebar-link active">Thông tin cá nhân</a></li>
                <li><a href="{% url 'history' %}" class="sidebar-link">Lịch sử mua hàng</a></li>
                <li><a href="{% url 'changepw' %}" class="sidebar-link">Đổi mật khẩu</a></li>
            </ul>
            <button id="logout-button" class="logout-button" onclick="location.href='{% url 'logout' %}'">Đăng xuất</button>
        </nav>
    </div>

    <main id="content-area" class="content-area">
    </main>
</div>

<footer class="footer">
        <div class="footer-top">
            <div class="foot-content left">
                <h3>Aroma Café</h3>
                <p>Địa chỉ: xxx, xxx, xxx.</p>
                <p>Điện thoại: xxx-xxx-xxxx.</p>
                <p>Email: example@gmail.com</p>
            </div>

            <div class="foot-content footer-links">
                <h3>Quy định & Chính sách</h3>
                <ul>
                    <li><a href="shippingPolicies.html">Chính sách vận chuyển</a></li>
                    <li><a href="warrantyPolicies.html">Chính sách bảo hành, đổi trả</a></li>
                    <li><a href="termOfUse.html">Điều khoản sử dụng</a></li>
                </ul>
            </div>

            <div class="foot-content right">
                <h3>Kết nối với chúng tôi</h3>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Aroma Café. All rights reserved.</p>
        </div>
    </footer>
    <button class="slide-top" id="slide-top"><i class="fas fa-angle-up"></i> </button>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'main/js/account.js' %}"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>