{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý mã giảm giá</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main/css/admin.css' %}">
</head>
<body>
<div class="left-menu" id="left-menu">
        <div class="logo">
            <img src="/static/main/img/logo.png" onclick="location.href='{% url 'index' %}'" width="300px" height="100px">
        </div>
    <div class="menu">
        <a href="{% url 'adminPage1' %}" class="menu-item">Tổng quan</a>
        <a href="{% url 'adminPage2' %}" class="menu-item">Quản lí sản phẩm</a>
        <a href="{% url 'adminPage3' %}" class="menu-item">Quản lí đơn hàng</a>
        <a href="{% url 'adminPage4' %}" class="menu-item">Quản lí tài khoản</a>
        <a href="{% url 'adminPage6' %}" class="menu-item">Quản lí đánh giá</a>
        <a href="{% url 'adminPage7' %}" class="menu-item">Quản lí banner</a>
        <a href="{% url 'adminPage8' %}" class="menu-item active">Quản lí mã giảm giá</a>
        <a href="{% url 'adminPage5' %}" class="menu-item">Chăm sóc khách hàng</a>
        <a href="#" class="menu-item" onclick="location.href='{% url 'logout' %}'">Đăng xuất</a>
    </div>
    <div class="footer">
        <p>2024 Aroma Café. All rights reserved.</p>
    </div>
</div>

<div class="right-content" id="right-content">
    <div class="title">
        <button class="slider-menu" id="slider-menu"><i class="fa-solid fa-bars"></i></button>
        <p>QUẢN LÍ MÃ GIẢM GIÁ</p>
    </div>
    <form class="search-bar">
        <input type="text" placeholder="Tìm kiếm mã giảm giá" required>
        <button><i class="fas fa-search"></i></button>
    </form>
    <div class="main-menu">
        <button id="add">+ Thêm mã giảm giá</button>
    </div>
    <div class="list-discount">
        <h3 class="discount-title">DANH SÁCH MÃ GIẢM GIÁ</h3>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Mã</th>
                <th>Mô tả</th>
                <th>Điều kiện</th>
                <th>Giảm</th>
                <th>Số lượng</th>
                <th>Bắt đầu</th>
                <th>Kết thúc</th>
                <th>Trạng thái</th>
                <th>Hành động</th>
            </tr>
            </thead>
            <tbody>
                {% for item in promotions %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td><strong>{{ item.code }}</strong></td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.min_order_value|vn_currency }}đ</td>
                    <td>{{ item.discount_percent }}%</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.start_date|date:"d/m/Y" }}</td>
                    <td>{{ item.end_date|date:"d/m/Y" }}</td>
                    <td>
                        {% if item.state == 'active' %}
                            <span >active</span>
                        {% else %}
                            <span >inactive</span>
                        {% endif %}
                    </td>                    
                    <td>
                       <form action="{% url 'delete_discount' item.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('Xóa mã này?')">
                                <i class="fas fa-trash" style="color:rgb(255, 254, 254);"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <div class="form-add" id="form-add" style="display: none">
        <div class="form-title">
            <p>THÊM MÃ KHUYẾN MÃI</p>
            <button id="take-off">X</button>
        </div>
        
        <form class="main-form" action="{% url 'add_discount' %}" method="POST">
            {% csrf_token %}
            
            <div class="p name-p">
                <label>Mã Code</label>
                <input type="text" name="code" placeholder="Mã giảm giá" required>
            </div>
            <div class="price-p">
                <label>Mô tả</label>
                <input type="text" name="description" placeholder="Nhập thông tin" required>
            </div>

            <div class="price-p">
                <label>Điều kiện</label>
                <input type="number" name="min_order_value" placeholder="Nhập số tiền tối thiểu" required>
            </div>

            <div class="price-p">
                <label>Giá trị giảm (%)</label>
                <input type="number" name="discount_percent" placeholder="Phần trăm giảm" required>
            </div>
            
            <div class="count-p">
                <label>Số lượng</label>
                <input type="number" name="quantity" required>
            </div>
            <div class="count-p">
                <label>Ngày bắt đầu</label>
                <input type="date" name="start_date" required>
            </div>
            <div class="count-p">
                <label>Hạn sử dụng</label>
                <input type="date" name="end_date" required>
            </div>

            <div class="state-p">
                <label>Trạng thái</label>
                <select name="state" required>
                    <option value="active">active</option>
                    <option value="inactive">inactive</option>
                </select>
            </div>

            <button class="submit" type="submit">Tạo Mã</button>
        </form>
    </div>  
</div>
<button class="slide-top" id="slide-top"><i class="fas fa-angle-up"></i></button>
    <script src="{% static 'main/js/admin.js' %}"></script>
</body>
</html>