{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Giỏ hàng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/cart.css' %}">
</head>
<body>
<header>
    <div class="top">
        <div class="logo">
            <img src="/static/main/img/logo.png" onclick="location.href='{% url 'index' %}'" width="300px" height="100px">
        </div>
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Tìm kiếm...">
            <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
        <div class="mini-menu">
            <div class="cart">
                <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
                <span id="num-cart-label">0</span>
            </div>
             {% if request.session.user_id %}
                <a href="{% url 'account' %}"><i class="fa-solid fa-user"></i></a>
            {% else %}
                <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="bottom">
        <a href="{% url 'index' %}">Trang chủ</a>
        <a href="{% url 'catalog' %}">Sản phẩm</a>
        <a href="{% url 'help' %}">Liên hệ</a>
        <a href="{% url 'aboutUs' %}">Giới thiệu</a>
    </div>
</header>

<div class="cart-container">
    <h2>Giỏ hàng</h2>

    <div class="clear-all-container" style="display: flex; justify-content: space-between;">
        <a href="#" class="select-all-cart">Chọn tất cả</a>
        <a href="#" class="clear-all-cart">Xóa tất cả</a>
    </div>

    <div id="cart-list">
      {% for item in items %}
        <div class="cart-item" data-price="{{ item.product.price }}">
            <input type="checkbox" class="product-select">
            <div class="product-remove"><i class="fas fa-times"></i></div>
            <div class="product-thumbnail">
               {% with image_object=item.product.productimages_set.first %}
                    <img src="{{ image_object.image_url }}" alt="{{ item.product.name }}">
                {% endwith %}
            </div>
            <div class="product-details">
                <p class="product-name">{{ item.product.name }}</p>
                <p class="product-type">Loại: {{ item.product.category.name }}</p>
                <p class="product-weight">Khối lượng: <span>{{ item.product.weight_grams }}</span></p>
            </div>
            <div class="product-quantity">
                <button class="btn-decrease">-</button>
                <input type="number" value="{{ item.quantity }}" min="1" />
                <button class="btn-increase">+</button>
            </div>
            <div class="product-subtotal">{{ item.product.price}}đ</div>
            </div>
      {% endfor %}
    </div>

    <div class="cart-totals">
        <h3>TỔNG CỘNG</h3>
        <span id="cart-total">0đ</span>
        <p>(Chỉ tính các sản phẩm được chọn)</p>
    </div>

    <a href="{% url 'payment' %}" type="button" class="checkout-button"> Thanh Toán </a>

    <div class="payment-methods">
        <h4>Phương thức thanh toán</h4>
        <i class="fa-solid fa-boxes-stacked"></i>
        <span>Thanh Toán Khi Nhận Hàng</span>
        <i class="fa-brands fa-cc-visa"></i>
        <span>Chuyển Khoản Qua Ngân Hàng</span>
    </div>
</div>

<footer class="footer">
  <div class="footer-top">
    <div class="foot-content left">
      <h3>Aroma Café</h3>
      <p>Địa chỉ: xxx, xxx, xxx.</p>
      <p>Điện thoại: xxx-xxx-xxxx.</p>
      <p>Email: example@gmail.com</p>
    </div>

    <div class="foot-content footer-links">
      <h3>Quy định & Chính sách</h3>
      <ul>
        <li><a href="shippingPolicies.html">Chính sách vận chuyển</a></li>
        <li><a href="warrantyPolicies.html">Chính sách bảo hành, đổi trả</a></li>
        <li><a href="termOfUse.html">Điều khoản sử dụng</a></li>
      </ul>
    </div>

    <div class="foot-content right">
      <h3>Kết nối với chúng tôi</h3>
      <div class="social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2024 Aroma Café. All rights reserved.</p>
  </div>
</footer>

<button class="slide-top" id="slide-top"><i class="fas fa-angle-up"></i></button>

<script src="{% static 'main/js/script.js' %}"></script>
<script src="{% static 'main/js/cart.js' %}"></script>
</body>
</html>
