{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Aroma Café Cà phê rang số 1 Việt Nam</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="{% static 'main/css/help.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

</head>
<body>
<header>
    <div class="top">
        <div class="logo">
            <img src="/static/main/img/logo.png" onclick="location.href='{% url 'index' %}'" width="300px" height="100px">
        </div>
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Tìm kiếm...">
            <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
        <div class="mini-menu">
            <div class="cart">
                <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
                <span id="num-cart-label">0</span>
            </div>
             {% if request.session.user_id %}
                <a href="{% url 'account' %}"><i class="fa-solid fa-user"></i></a>
            {% else %}
                <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="bottom">
        <a href="{% url 'index' %}">Trang chủ</a>
        <a href="{% url 'catalog' %}">Sản phẩm</a>
        <a href="{% url 'help' %}">Liên hệ</a>
        <a href="{% url 'aboutUs' %}">Giới thiệu</a>
    </div>
</header>
<div class="container">
    <h1 id="help">Aroma Café - Cà phê rang số 1 Việt Nam</h1>
    <div class="address">
        <div class="pin-address">
            <i class="fa-solid fa-location-dot"></i> Địa chỉ: xxx , xxx, xxx.
        </div>
        <div class="phone-number">
            <i class="fa-solid fa-phone"></i> Điện thoại: xxx-xxx-xxxx.
        </div>
        <div class="email-address">
            <i class="fa-solid fa-envelope"></i> Email: aromacafe@gmail.com
        </div>
    </div>
    <div class="main-content">
        <h2> Liên hệ với chúng tôi</h2>
        <form action="/submit" method="post">
            <input type="text" id="name" name="name" placeholder="Họ và tên của bạn" required><br><br>
            <input type="email" id="email" name="email" placeholder="Email của bạn" required><br><br>
            <label class="lbmessage" for="message">Tin nhắn:</label><br>
            <textarea id="message" name="message" placeholder="Viết tin nhắn của bạn ở đây..." rows="5" cols="40"
                      required></textarea><br><br>
            <button type="button" id="send-message">Liên hệ ngay</button>
        </form>
    </div>
</div>
<footer class="footer">
    <div class="footer-top">
        <div class="foot-content left">
            <h3>Aroma Café</h3>
            <p>Địa chỉ: xxx, xxx, xxx.</p>
            <p>Điện thoại: xxx-xxx-xxxx.</p>
            <p>Email: example@gmail.com</p>
        </div>

        <div class="foot-content footer-links">
            <h3>Quy định & Chính sách</h3>
            <ul>
                <li><a href="shippingPolicies.html">Chính sách vận chuyển</a></li>
                <li><a href="warrantyPolicies.html">Chính sách bảo hành, đổi trả</a></li>
                <li><a href="termOfUse.html">Điều khoản sử dụng</a></li>
            </ul>
        </div>

        <div class="foot-content right">
            <h3>Kết nối với chúng tôi</h3>
            <div class="social">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Aroma Café. All rights reserved.</p>
    </div>
</footer>
<button class="slide-top" id="slide-top"><i class="fas fa-angle-up"></i></button>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>