{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
</head>
<body>
<header>
    <div class="top">
        <div class="logo">
            <img src="/static/main/img/logo.png" onclick="location.href='{% url 'index' %}'" width="300px" height="100px">
        </div>
        <div class="search-bar">
            <input type="text" id="search-input" placeholder="Tìm kiếm...">
            <button id="search-button"><i class="fas fa-search"></i></button>
        </div>
        <div class="mini-menu">
            <div class="cart">
                <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
                <span id="num-cart-label">0</span>
            </div>
             {% if request.session.user_id %}
                <a href="{% url 'account' %}"><i class="fa-solid fa-user"></i></a>
            {% else %}
                <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="bottom">
        <a href="{% url 'index' %}">Trang chủ</a>
        <a href="{% url 'catalog' %}">Sản phẩm</a>
        <a href="{% url 'help' %}">Liên hệ</a>
        <a href="{% url 'aboutUs' %}">Giới thiệu</a>
    </div>
</header>
    <div class="img-home" id="img-home">
        <button class="left" onclick="showPreviousImage()"><</button>
        <button class="right" onclick="showNextImage()">></button>
    </div>
    <div class="hot-item slide-up">
        <div class="hot-title">
            <span class="line"></span>
            <h2>SẢN PHẨM NỔI BẬT<i class="fa-solid fa-fire"></i></h2>
            <span class="line"></span>
        </div>
        <div class="product-list" id="product-list">
            {% for product in products %}
                <a class="product" href="{% url 'product' product.id %}">
                    {% with image_object=product.productimages_set.first %}
                    <img src="{{ image_object.image_url }}" alt="{{ product.name }}">
                    {% endwith %}
                    <p>{{ product.name }}</p>
                    <span>{{ product.price }} VND</span>
                    <label><i class="fa-solid fa-fire"></i>{{ product.sold}}</label>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="video-1 fade-in">
        <div class="intro-video-1">
            <p>QUY TRÌNH SẢN XUẤT</p>
            <p class="content">
                Các sản phẩm của chúng tôi được sản xuất theo quy trình sản xuất chuẩn thế giới. Được đóng gói kĩ càng và máy móc đạt chuẩn.
            </p>
            <button onclick="location.href='help.html'">Liên hệ báo giá</button>
        </div>
        <video class="video-bg fill visible" preload playsinline autoplay muted loop>
            <source src="https://90scoffee.vn/wp-content/uploads/2022/07/videos-cat-ngan-full-vien.mp4" type="video/mp4">
        </video>
    </div>
    <section class="why-choose-us slide-up">
        <div class="section-title">
            <span class="line"></span>
            <h2>TẠI SAO NÊN CHỌN CHÚNG TÔI?</h2>
            <span class="line"></span>
        </div>
        <div class="features-container">
            <div class="feature-item">
                <img src="https://90scoffee.vn/wp-content/uploads/2025/10/natural-ingredients-25x25.png" alt="Icon Vùng nguyên liệu" class="feature-icon">
                <h3>Vùng nguyên liệu cà phê độc quyền</h3>
                <p>Mọi hạt cà phê của 90S Coffee đều được tuyển chọn từ nông trại riêng tại Gia Lai, Đắk Lắk và Lâm Đồng – nơi khởi nguồn chất lượng đích thực.</p>
            </div>
            <div class="feature-item">
                <img src="https://90scoffee.vn/wp-content/uploads/2025/10/management-25x25.png" alt="Icon Quy trình ISO" class="feature-icon">
                <h3>Quy trình sản xuất đạt chuẩn ISO</h3>
                <p>Tuân thủ nghiêm ngặt theo hệ thống quản lý an toàn thực phẩm ISO 22000:2018</p>
            </div>
            <div class="feature-item">
                <img src="https://90scoffee.vn/wp-content/uploads/2025/10/handshake-25x25.png" alt="Icon Chính sách" class="feature-icon">
                <h3>Chính sách sỉ linh hoạt – Hậu mãi tận tâm</h3>
                <p>Chúng tôi có chính sách bán hàng sỉ & lẻ. Chế độ hậu mãi tốt, mang lại lợi ích – bảo vệ lợi ích cho khách hàng của 90S Coffee.</p>
            </div>
        </div>
    </section>
    <div class="approach-section fade-in">
        <div class="approach-container">
            <div class="text-content-box">
                <h2>CÁCH TIẾP CẬN CỦA CHÚNG TÔI VỚI CÀ PHÊ</h2>
                <p>Là một trong những doanh nghiệp hàng đầu trong hệ thống cà phê, AROMA CAFÉ là một trong những cầu nối uy tín, vững chắc giữa những người nông dân với thị trường cà phê Việt Nam và thế giới.</p>
                <button onclick="location.href='help.html'">Liên hệ báo giá</button>
            </div>
            <div class="video-content-box">
                <div class="video-container">
                    <iframe
                            src="https://www.youtube.com/embed/OKdyYY6tShA?"
                            title="YouTube video player"
                            referrerpolicy="origin"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-top">
            <div class="foot-content left">
                <h3>Aroma Café</h3>
                <p>Địa chỉ: xxx, xxx, xxx.</p>
                <p>Điện thoại: xxx-xxx-xxxx.</p>
                <p>Email: example@gmail.com</p>
            </div>

            <div class="foot-content footer-links">
                <h3>Quy định & Chính sách</h3>
                <ul>
                    <li><a href="shippingPolicies.html">Chính sách vận chuyển</a></li>
                    <li><a href="warrantyPolicies.html">Chính sách bảo hành, đổi trả</a></li>
                    <li><a href="termOfUse.html">Điều khoản sử dụng</a></li>
                </ul>
            </div>

            <div class="foot-content right">
                <h3>Kết nối với chúng tôi</h3>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Aroma Café. All rights reserved.</p>
        </div>
    </footer>
    <button class="slide-top" id="slide-top"><i class="fas fa-angle-up"></i> </button>
<div style="display:none;">
    <form>
        {% csrf_token %}
    </form>
</div>
    <script src="{% static 'main/js/index.js' %}"></script>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>