{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tìm kiếm</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/search.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/catalog.css' %}">
</head>
<body>
    <header>
    <div class="top">
        <div class="logo">
            <img src="{% static 'main/img/logo.png' %}" onclick="location.href='{% url 'index' %}'" width="300px" height="100px">
        </div>
        <form class="search-bar" action="{% url 'search' %}" method="get">
            <input type="text" id="search-input" placeholder="Tìm kiếm..." value="{{ request.GET.q|default:'' }}" name="q">
            <button id="search-button"><i class="fas fa-search"></i></button>
        </form>
        <div class="mini-menu">
            <div class="cart">
                <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i></a>
                <span id="num-cart-label">{{ cart_count }}</span>
            </div>
             {% if request.session.user_id %}
                {% if request.session.role == 'admin' %}
                    <a href="{% url 'adminPage1' %}"><i class="fa-solid fa-user"></i></a>
                {% else %}
                    <a href="{% url 'account' %}"><i class="fa-solid fa-user"></i></a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}"><i class="fa-solid fa-user"></i></a>
            {% endif %}
        </div>
    </div>
    <div class="bottom">
        <a href="{% url 'index' %}">Trang chủ</a>
        <a href="{% url 'catalog' %}">Sản phẩm</a>
        <a href="{% url 'help' %}">Liên hệ</a>
        <a href="{% url 'aboutUs' %}">Giới thiệu</a>
    </div>
</header>
<div class="search-results-header">
    <div class="breadcrumb">
        <a href="{% url 'index' %}">Trang chủ</a>
        <span class="separator">/</span>
        <a href="{% url 'catalog' %}">Sản phẩm</a>
        <span class="separator">/</span>
    </div>
    <h1 class="search-title">Kết quả tìm kiếm cho "{{ query }}"</h1>
</div>
<div class="catalog">
    <div class="catalog-list" id="catalog-list">
        <p class="head-catalog">Danh mục sản phẩm</p>
        <div class="filter">
            <select>
                <option>-Chọn lựa-</option>
                <option>Giá cao đến thấp</option>
                <option>Giá thấp đến cao</option>
                <option>Lượt mua nhiều nhất</option>
                <option>Lượt đánh giá</option>
            </select>
        </div>
    </div>
    <div class="product-area" id="product-area">
        <div class="product-list" id="product-list">
            {% for product in products %}
                <a class="product" href="{% url 'product' product.id %}">
                    {% with image_object=product.productimages_set.first %}
                    <img src="{{ image_object.image_url }}" alt="{{ product.name }}">
                    {% endwith %}
                    <p>{{ product.name }}</p>
                    <span>{{ product.price }} VND</span>
                    <label>Loại: {{ product.category.name }}</label>
                </a>
            {% endfor %}
        </div>
        <div class="product-page" id="pagination">
            <button id="prev-page"><i class="fas fa-chevron-left"></i></button>
            <input type="number" id="page-input" min="1" value="1" />
            <button id="next-page"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div>
<footer class="footer">
        <div class="footer-top">
            <div class="foot-content left">
                <h3>Aroma Café</h3>
                <p>Địa chỉ: xxx, xxx, xxx.</p>
                <p>Điện thoại: xxx-xxx-xxxx.</p>
                <p>Email: example@gmail.com</p>
            </div>

            <div class="foot-content footer-links">
                <h3>Quy định & Chính sách</h3>
                <ul>
                    <li><a href="{% url 'shippingPolicies' %}">Chính sách vận chuyển</a></li>
                    <li><a href="{% url 'warrantyPolicies' %}">Chính sách bảo hành, đổi trả</a></li>
                    <li><a href="{% url 'termOfUse' %}">Điều khoản sử dụng</a></li>
                </ul>
            </div>

            <div class="foot-content right">
                <h3>Kết nối với chúng tôi</h3>
                <div class="social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Aroma Café. All rights reserved.</p>
    </div>
</footer>
    <button class="slide-top" id="slide-top"><i class="fas fa-angle-up"></i> </button>

    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>