
/* Banner */
.about-banner {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}
.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}
.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.banner-text h1 {
    font-size: 42px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

/* Section Layout */
.about-wrapper {
    width: 85%;
    margin: 50px auto;
}

.about-section {
    padding-top: 10px;
    text-align: center;
    margin: 80px 0;
}
.about-section p{
    padding-bottom: 50px;
}
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}
.about-content.reverse {
    flex-direction: row-reverse;
}
.about-text {
    flex: 1;
    min-width: 300px;
    text-align: left;
}
.about-section h2{
    color: #c76739;
    margin-bottom: 10px;
}
.about-text h2 {
    color: #c76739;
    font-size: 28px;
    margin-bottom: 20px;
}
.about-text p {
    font-size: 18px;
    line-height: 1.8;
}
.about-imgs {
    flex: 1;
    min-width: 100px;
}
.about-imgs img {
    width: 100%;
    border-radius: 12px;
    transition: transform 0.8s ease;
}
.about-imgs img:hover {
    transform: scale(1.05);
}

/* Animations */
.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}
.slide-up {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease;
}
.slide-up.visible {
    opacity: 1;
    transform: translateY(0);
}

