/* container */
.container {
    margin: 80px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* thêm bóng mờ */
    border-radius: 8px;
    min-height: fit-content;
    width: 400px;
}

/* Tiêu đề quên mật khẩu */
.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #c76739;
    font-size: 24px;
}

/*Chỉnh sửa các label */
.container label {
    display: block; /* đảm bảo label là khối */
    margin-bottom: 12px;
    font-weight: bold;
}

/* các input trong container */
.container input[type="text"], .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* đảm bảo padding và border được tính vào tổng chiều rộng */

}

/* Nút đặt lại mật khẩu */
.container .bt_forgot {
    display: flex;
    justify-content: space-between;
}

.bt_forgot button {
    width: 44%;
    padding: 10px;
    background-color: #c76739;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* con trỏ chuột biến thành tay khi hover qua nút */
}

.bt_forgot button:hover {
    background: #8c4828;
}