/* container */
.container {
    margin: 100px auto;
    padding: 30px 20px;
    background-color: #ffffff;
    border-radius: 8px;
    min-height: fit-content;
    width: 400px;
}

/* Tiêu đề quên mật khẩu */
.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #c76739;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/*Chỉnh sửa các label */
.container label {
    display: block; /* đảm bảo label là khối */
    margin-bottom: 12px;
    font-weight: bold;
}

.container input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Nút đặt lại mật khẩu */
.container .bt_forgot {
    display: flex;
    justify-content: space-between;
}

.bt_forgot button {
    width: 48% ;
    height: 45px ;
    margin: 0 ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.bt_forgot button:hover {
    background: #8c4828;
}
.container .error-message {
    color: #d32f2f;      
    font-size: 14px;
    margin-bottom: 40px; 
    text-align: left;    
    font-style: italic;  
    display: block;
    min-height: 20px;    
}