
/* container */
.container {
    margin: 50px auto; /* set margin top là 50px con lại tự căng chỉnh */
    padding: 30px; 
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* thêm bóng mờ */
    border-radius: 8px;
    min-height: 450px;
    width: 400px;

}
/* Tiêu đề đăng ký */
.container h2 {
    text-align: center;
    margin-bottom: 12px;
    color: 	#c76739;
    font-size: 24px; /* chỉnh sửa kích thước font */
    margin-top: 12px;
}
.container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold; /* in đậm chữ */
}
/* các input trong container */
.container input[type="text"],.container input[type="email"],.container input[type="password"] { 
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* đảm bảo padding và border được tính vào tổng chiều rộng */
}
.container .bt_regis {
    display: flex;
    justify-content: space-between; /* chỉnh sửa để nút cách đều nhau */
}
.bt_regis button{
    width: 44%;
    padding: 10px;
    background-color: #c76739;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer; /* con trỏ chuột biến thành tay khi hover qua nút */
}
.bt_regis button:hover{
    background: #8c4828;

}

.container .or-login {
    text-align: center;
    margin-top: 20px;
    color: #666;
}
.container .or-login img {
    margin: 0 10px;
    cursor: pointer;
}

.container .or-login .icon-btn {
    border: none;
    background: transparent; /* loại bỏ viền và nền của nút */
    padding: 0; 
    margin: 0 8px; 
    cursor: pointer;
    appearance: none; /* loại bỏ kiểu dáng mặc định của nút */
}
