.search-results-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding-top: 25px;
    margin-left: 70px;
}

.breadcrumb {
    font-size: 20px;
    color: #999;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.breadcrumb a {
    text-decoration: none;
    color: #999;
    margin-right: 5px;
    font-weight: normal;
}

.breadcrumb .separator {
    margin-right: 5px;
}

.search-title {
    font-size: 25px;
    color: #c76739;
    font-weight: bold;
    margin: 0;
    line-height: 1.2;
}


.breadcrumb {
    color: #c76739;
}

.breadcrumb a {
    color: #c76739;
    font-weight: normal;
}

.search-title {
    color: #333;
    font-weight: 700;
}

.breadcrumb a,
.breadcrumb .separator {
    display: inline-block;
}